<li class="nav-item dropdown py-lg-0 py-2">
    <a class="nav-link dropdown-toggle d-flex align-items-center gap-2 py-lg-0" href="#" id="navTema"
       role="button" data-bs-toggle="dropdown" aria-expanded="false" title="Trocar cor do tema">
        <span class="theme-current-dot" aria-hidden="true"></span>
        <span class="d-none d-xl-inline">Cor</span>
    </a>
    <ul class="dropdown-menu dropdown-menu-end theme-picker-menu" aria-labelledby="navTema">
        <li><h6 class="dropdown-header">Cor do tema</h6></li>
        <li>
            <button type="button" class="dropdown-item theme-option" data-theme="azul">
                <span class="theme-swatch" style="background-color: #0d6efd;"></span>
                Azul
            </button>
        </li>
        <li>
            <button type="button" class="dropdown-item theme-option" data-theme="verde">
                <span class="theme-swatch" style="background-color: #198754;"></span>
                Verde
            </button>
        </li>
        <li>
            <button type="button" class="dropdown-item theme-option" data-theme="roxo">
                <span class="theme-swatch" style="background-color: #6f42c1;"></span>
                Roxo
            </button>
        </li>
        <li>
            <button type="button" class="dropdown-item theme-option" data-theme="laranja">
                <span class="theme-swatch" style="background-color: #e8590c;"></span>
                Laranja
            </button>
        </li>
        <li>
            <button type="button" class="dropdown-item theme-option" data-theme="indigo">
                <span class="theme-swatch" style="background-color: #4338ca;"></span>
                Índigo
            </button>
        </li>
    </ul>
</li>
